

<%= render "shared/header" %>

  <main class="main">
   <div class="inner">
     <% if user_signed_in? %>
      <div class="greeting">
        こんにちは、
        <%= link_to current_user.name, "#", method: :get, class: :greeting__link %>
        さん
      </div>
     <% end %>
    
    <div class="card__wrapper">
      <%# <%= render partial: 'client', collection: @clients  %> 
      
    </div>
   </div>
  </main>

  <%= link_to(new_client_path, class: 'new-btn') do %>
      <span class='new-btn-text'>新規作成</span>
      <%= image_tag 'new.png' , size: '185x50' ,class: "new-btn-icon" %>
  <% end %>


<%= render "shared/footer" %>