<!DOCTYPE html>
<html>
  <head>
    
    <title>GymManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% unless %w[root user_session new_user_registration].any? { |name| current_page?(send("#{name}_path")) } %>
        <%= render "layouts/navbar" %>
      <% end %>
    <% end %>  

    <%= yield %>
    
    <div class="logout">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
          <h1>ログアウト</h1>
        <% end %>
      <% end %>
    </div>
  </body>
</html>
